[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
gunicorn = "==19.9.0"
requests = "==2.20.0"
pandas = "*"
bokeh = "*"
dill = "*"
simplejson = "*"
Flask = "*"
Jinja2 = "*"
quandl = "*"

[requires]
python_version = "3.7"
